* {
   text-align:left; background-color;background-color: #8fa1c7;
  }

 ul { color: #1bac33;
  }
  .h3 { color:#493d3d;   text-decoration:dotted ; border: solid #a82424 0.2cm; font-size: 30px;
     ; font-weight:50px; background-color:rgb(197, 145, 145);}
h3{ border-style: solid 0.2cm }
h3 #aboutus { border-style: solid 50px;}